<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me" style="color:black">About Me</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <!-- python -->
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-python"></i>
                </div>
            </div>
        </div>
        <!-- linux -->
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <!-- <i class="icon-shell"></i> -->
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- avatar -->
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="{{ site.author.avatar | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">{{ site.author.last_name }} {{ site.author.first_name }}</span> </h4>
                <ul class="list-inline social-icon">
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/karthikBalasubramanian/resume/blob/master/KarthikBalasubramanian.pdf"><i class="fa fa-file-pdf-o"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- html -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon">
                    <!-- <i class="icon-angular"></i> -->
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- docker -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon">
                    <!-- <i class="icon-docker"></i> -->
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des" style="color:black">{{ site.author.desc }}</span></p>
        </div>
    </div>
</div>
<!-- Strava -->
<div id="Container" style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
    <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' align='middle' src='https://www.strava.com/athletes/38213663/latest-rides/28eb2d450316a2e29f5fde46e7be47c6b9825eaa'>
    </iframe>
 </div>
